.uno	{
	height: 70px;
    width: 70px;
    background-color: blue;
    margin-bottom: 10px;  
}

.dos	{
	display: table-row;
	height: 70px;
    width: 200px;
    background-color: blue;
    border-spacing: 10px;
}

.metido, .metido2, .metido3{
	display: table-cell;
	height: 70px;
    width: 70px;
	background-color: red;
}

.tres	{
	display: inline-block;
	height: 70px;
    width: 70px;
    background-color: blue; 
    margin-top: 10px;
    margin-right: 5px;
}

.cuatro	{
	display: inline-block;
	height: 70px;
    width: 70px;
    background-color: blue;
}

.cinco	{
	height: 70px;
    width: 70px;
    background-color: blue;
    margin-bottom: 10px;  
}